html, body {
    height: 100%;
}

body {
    background: #363434;
    background: rgba(36, 34, 34, 0.90);
    /*background-image: url(texture2.jpg) ;*/

}

iframe {
    width: 100%;
}

#content {
    margin: 10px auto;

}

.mailbox {

    background: #F5E6DD;
    background-image:
     -webkit-linear-gradient(left,
        rgba(51, 41, 31, 0.4) 0%,
        rgba(51, 41, 31, 0.3) 5%,
        rgba(51, 41, 31, 0.2) 12%,
        rgba(51, 41, 31, 0.0) 50%,
        rgba(51, 41, 31, 0.2) 88%,
        rgba(51, 41, 31, 0.3) 95%,
        rgba(51, 41, 31, 0.4) 100%),
    -webkit-linear-gradient(top,
        rgba(51, 41, 31, 0.20) 0%,
        rgba(51, 41, 31, 0.00) 20%,
        rgba(51, 41, 31, 0.00) 50%,
        rgba(51, 41, 31, 0.20) 88%,
        rgba(51, 41, 31, 0.30) 95%,
        rgba(51, 41, 31, 0.50) 100%);

    padding: 20px;
    border-radius: 20px;

}

.section {
    border-bottom: 1px solid rgba(51, 40, 30, 0.15);
    /*margin: 10px 0 10px;*/
    padding: 10px 0 10px;
}

/* override bootstrap.css */
.form-horizontal .control-group {
    margin-bottom: 10px;

}

.table td {
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 10px auto;
}

.mycheckbox {
    display: inline-block;
    background: url('checkbox.png') no-repeat;
    width: 23px;
    height: 23px;
    background-position: 0 -23px;
    vertical-align: middle;
}

.checked {
    background-position: 0 -46px;
}